$bg-color: #ffffff;
$extra-bg-color: #F6F6F6;
$bg-color-light: #FAFAFA;
$primary-color: #F1CDB3;
$primary-color-light: #FDDCC4;

$font-color-light: #ffffff;
$font-color-black: #000000;
$font-color-darker: #CDCDCD;
$font-color-dark: #B2B2B2;
$font-color-darkest: #4C4C4C;
$font-color-logo-dark: #292929;
$title-color: #545454;